node_modules
.yarn/cache
install_stage.gz

dist
lib

*.diff
*.err
*.log
*.swp
*.vi
*~

*.sublime-workspace
*.sublime-projects
.DS_Store
.cache
.idea
.project
.settings
.tmproj
.iml
Thumbs.db
desktop.ini
nbproject
.history
